<% include ../partials/header %>
  
  <form action ="/products/update" method ="post">
    <div class="jumbotron">
      <center>  <h4>PRODUCT EDIT</h4></center>
        <br>
  <div class="form-group">
    <label for="">Product ID</label>
    <input type="number"
      class="form-control"value ="<%= product.id %>" name="id" id="" aria-describedby="helpId" placeholder="">
    <!-- <small id="helpId" class="form-text text-muted">Product ID</small> -->
  </div>

<div class="form-group">
    <label for="">Product Name</label>
    <input type="text"
      class="form-control" value ="<%= product.title %>"name="title" id="" aria-describedby="helpId" placeholder="">
    <!-- <small id="helpId" class="form-text text-muted">Product</small> -->
  </div>

<div class="form-group">
    <label for="">Product Price</label>
    <input type="number"
      class="form-control" value = "<%= product.price %>"name="price" id="" aria-describedby="helpId" placeholder="">
    <!-- <small id="helpId" class="form-text text-muted">Product price</small> -->
  </div>

  <div class="form-group">
    <label for="">Create At</label>
    <input type="text"
    class="form-control" value="<%= time %>" id="" aria-describedby="helpId" placeholder="" disabled>
    <input type="hidden" value="<%= time %>"id="custId" name="time" >
    <!-- <small id="helpId" class="form-text text-muted">create at</small> -->
  </div>
<br>
<center><button type="submit" class="btn btn-success">Save</button>
<button type="submit" class="btn ">Cancer</button></center>
</div>
</form>

 <% include ../partials/footer %>