<% include ../partials/header %>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tittle</th>
            <th>Price</th>
            <th>Edit</th>
            <th>Delete</th>
           
        </tr>
    </thead>
    <tbody>
     <% products.forEach(function(product) { %>
        <tr>
            <td scope="row"><%= product.id %></td>
            <td><%= product.title %></td>
            <td><%= product.price %></td>
            <td><a class="btn btn-danger" href="/products/<%= product.id %>" role="button">EDIT</a></td>
            <td><a class="btn btn-danger" href="/products_delete/<%= product.id %>" role="button">DELETE</a></td>
        </tr>
      <% }); %>
    </tbody>
</table>





  <% include ../partials/footer %>