<% include ../partials/header %>
  
  <form action ="/users/update" method ="post">
    <div class="jumbotron">
        <center>  <h4>USER EDIT</h4></center>
          <br>
  <div class="form-group">
    <label for="">ID</label>
    <input  type="number"
    class="form-control"  id="" aria-describedby="helpId" placeholder=""value="<%= user.user_id %>" disabled>
    <input type="hidden" value="<%= user.user_id %>"id="custId" name="id" >
  </div>

<div class="form-group">
    <label for="">email</label> 
    <input type="text"
      class="form-control" value ="<%= user.email %>"name="email" id="" aria-describedby="helpId" placeholder="">
    <!-- <small id="helpId" class="form-text text-muted">Email</small> -->
  </div>

<div class="form-group">
    <label for="">password</label>
    <input type="text"
      class="form-control" value = "<%= user.password %>"name="password" id="" aria-describedby="helpId" placeholder="">
    <!-- <small id="helpId" class="form-text text-muted">Password</small> -->
  </div>

  <div class="form-group">
    <label for="">Create At</label>
    <input type="text"
    class="form-control" value="<%= time %>" id="" aria-describedby="helpId" placeholder="" disabled>
    <input type="hidden" value="<%= time %>"id="custId" name="time" >
  </div>
  <br>
<center>
<button type="submit" class="btn btn-light">Cancer</button>
<button type="submit" class="btn btn-success">Save</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" role="button" >DELETE</button>

</div>
</form>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> Confirm Delete </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"> Do you want to delete user ? </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-secondary" data-dismiss="modal"> CANCLE </button>
          <a name="" id="" class="btn btn-primary" href="/user_delete/<%= user.user_id %>" role="button"> DELETE </a>
        </div>
      </div>
    </div>
  </div>

 <% include ../partials/footer %>